
#header
{

}#xyz
{
display:flex;
}

#abc
{display:flex;

}
.image
{
width:50;}
#lmn
{
position:absolute;
right:100;
display:flex;
}
video
{
width:600;
height:400;
}
.trombone
{
size:36;
color:red;
}
h1
{
align:center;
}
#class
{
align:center;}
#man
{
display:flex;
}
#ash{
display:flex;
}
.carousel-item
{

}
#photo
{
width:200;
height:200;
}
#class
{width:200;
height:200;}
#id
{width:200;
height:200;
}
#image2
{
width=100;
height=100;
}
